<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reema Balharith</title> 
  {%include 'bootstrap.html' %}
  </head>
<body>
  <div class="container" >
  <h1 class="text-center">Reema Balharith</h1>
    {%include 'banner.html' %}
  <h2 class="text-center">About Reema</h2>
  <p>Reema Belharith, a 19-year-old student at Nita Academy, specializes in artificial intelligence. With a keen focus on Python programming, she aspires to push the boundaries of AI development. Armed with a passion for innovation and a dedication to mastering her craft, Rima envisions a future where AI technologies revolutionize industries and improve lives. At Nita Academy, she immerses herself in cutting-edge research and practical applications, honing her skills to tackle complex challenges in the field. With a combination of theoretical knowledge and hands-on experience, Reema is poised to make significant contributions to the advancement of artificial intelligence, shaping the future of technology with her expertise and determination..</p>
<h2 class="text-center"> project </h2>
    <div>
      {% for m in myskills  %}
      {% include 'myprojects.html'%}
      {% endfor %}
    </div>
      <div class= "text-center">
        <a href="/contactus"  type ="button"  class="btn btn-primary btn-lg"> Contact me</a>
    <p> copy right , {{myname}}</p> 
    </div>
      </div>
    </body>
    </html>